<div class="content">
  <%= form_for VoterDistrict.new, url: leaders_path do |f| %>
    <%= f.text_field :address, placeholder: "ENTER NEW ADDRESS" %>
    <%= f.submit "REPS" %>
  <% end %> 

  <p id="officials-district">Elected Officials for <%= @parsed_address %></p>

  <ul class="leaders-list"><%= render @leaders %></ul>
</div>



