<div class="main">
    <div class="banner">
	<%= link_to image_tag("Poliwonk Logo TM-08.png", height: "150", width: "800"), "/" %>
    </div>

    <div class="menu_bar">
	<ul>
	    <li><%= link_to image_tag("menu-12.png"), "/forum" %></li>
	    <li><%= link_to image_tag("menu-09.png"), "/forum#!/mission" %></li>
	</ul>
    </div>
    <div class="side">
    </div>

    <%= yield %>

    <!-- Produces xml properly formatted br tags. -->
    <% 4.times do %>
    <%= tag("br") %>
    <% end %>
    <p>© 2015 Poliwonk, LLC</p>
</div>
