<!DOCTYPE html>
<html>
    <head>
        <title>Follow Your Leader</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false", "data-turbolinks-track" => true %>
        <%#= javascript_include_tag "https://apis.google.com/js/client.js?onload=load", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "https://www.promisejs.org/polyfills/promise-7.0.1.min.js", "data-turbolinks-track" => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= tag :meta, name: "google-api-key", content: ENV['GOOGLE_API_KEY'] %>
    </head>
    <body>

        <%= render "menu_bar" %>

    </body>
</html>
